* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffeaee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    text-align: center;
    position: relative;
}

.gif-placeholder {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.gif-placeholder img {
    width: 100%;  /* Sprawia, że obraz dopasuje się do szerokości rodzica */
    height: auto; /* Zachowuje proporcje */
    display: block;
}

.valentine-text, .buttons {
    display: none; /* Ukrycie na początku */
    opacity: 0; /* Można dodać, jeśli chcesz animować przezroczystość */
    transition: opacity 0.5s ease, display 0s linear 0.5s; /* Płynne pojawianie się */
}

.valentine-text {
    position: absolute;
    top: 45%; 
    left: 50%;
    transform: translate(-50%, -50%);  /* Używamy transformacji, aby wycentrować tekst */
    width: auto;  /* Dopasowanie szerokości */
    height: 200px; 
    z-index: -1;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #ff5173;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#yesbutton {
    width: 180px;  
    height: 100px;  
    border: none;  
    cursor: pointer; 
}

#yesbutton:hover {
    background-image: url('images/yes_hover.png'); /* Zmiana tła, gdy najedziesz na przycisk */
    background-size: cover;  /* Dopasowanie rozmiaru */
    background-repeat: no-repeat;  /* Zapobiega powtarzaniu */
}

#nobutton {
    width: 180px;  
    height: 100px;  
    border: none;  
    cursor: pointer;  
    background-color: transparent;  /* Przezroczyste tło */
    position: relative;  /* Umożliwia pozycjonowanie obrazków */
    padding: 0;  /* Usuń domyślne paddingi */
}

#nobutton img {
    position: absolute;  /* Umożliwia nakładanie obrazków */
    top: 0;
    left: 0;
    width: 100%;  /* Dopasowanie do rozmiaru przycisku */
    height: 100%;  /* Dopasowanie do rozmiaru przycisku */
    transition: opacity 0.3s;  /* Efekt płynnego przejścia */
}

#nobutton .normal-image {
    opacity: 1;  /* Domyślnie widoczny */
}

#nobutton .hover-image {
    opacity: 0;  /* Domyślnie ukryty */
}

#nobutton:hover .normal-image {
    opacity: 0;  /* Ukryj normalny obrazek po najechaniu */
}

#nobutton:hover .hover-image {
    opacity: 1;  /* Pokaż hoverowy obrazek po najechaniu */
}

button:hover {
    background-color: #ff9eb0;
}